.main__nosotros-h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.main__nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 40px;
    width: 95%;
    margin: 0 auto;
}
.main__nosotros-texto h2{
    font-size: 2rem;
    text-align: justify;
}
.main__nosotros-img img{
    width: 400px;
}
@media(max-width:768px){
    .main__nosotros-h1{
        font-size: 2rem;
    }
    .main__nosotros-texto h2{
        font-size: 1.3rem;
        text-align: justify;
    }
    .no-repeat{
        display: none;
    }
}
@media(max-width:567px){
    .main__nosotros-img img{
        width: 300px;
    }
}