.main__nosotros-h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.main__nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 40px;
    width: 95vw;
    margin: 0 auto;
}
.main__nosotros-texto h2{
    font-size: 2rem;
}
.main__nosotros-img img{
    width: 400px;
}