.servicios__titulo {
    text-align: center;
    font-size: 3rem;
    margin: 15vh 0vh 2vh
}
.servicios__cards{
    display: flex;
    gap: 70px;
    justify-content: center;
    margin-bottom: 30px;
}
.card-width{
    width: 20rem;
}
@media(max-width:768px){
    .servicios__titulo {
        margin-top: 20px;
        text-align: center;
        font-size:2rem;
    }
    .servicios__cards{
        margin: 0vh;
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }
    .card img{
        width: 200px;
    }
    .card-width{
        width: 20rem;
    }
    .img-center{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .botton-center {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}